langchain_groq 
groq
langchain
langgraph
openai
huggingface_hub
langchain-huggingface
langchain_community
pydantic
ipykernel
python-dotenv
langchain_core
duckduckgo-search
langchain_openai
ddgs
ipywidgets
langchainhub
notebook
jupyterlab